@font-face {
  font-family: Rubik;
  src: url("../font/Rubik-Regular.ttf");
}

/* Sembunyikan Spinner */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  width: 50px;
}

body {
  font-family: Rubik;
  color: #4c5262;
  line-height: 1.6;
  animation-name: fade;
  animation-duration: 1s;
  /* user-select: none; */
}

footer {
  bottom: 0;
  width: 100%;
}

/*Fade Halaman*/
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*End Fade Halaman*/

/*Navbar + Search*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.navbar-brand {
  align-items: center;
  font-weight: bold;
  margin-left: 0.5rem; /* Mengembalikan margin kiri yang dihapus dari ms-2 */
}

.navbar .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Memastikan brand dan search box terpisah */
}

.navbar-item img {
  height: 30px;
  width: 30px;
}

.navbar-item a {
  text-decoration: none;
  color: black;
}

#user {
  font-weight: bold;
}

.search-input-wrapper {
  position: relative;
}

.search-box {
  transition: all 0.3s ease-in-out;
  position: relative;
  flex-grow: 1; /* Mengambil semua ruang yang tersedia */
  display: flex; /* Menggunakan flexbox untuk centering internal */
  justify-content: center; /* Menengahkan input di dalam search-box */
  z-index: 101;
}

.search-box input {
  width: 300px; /* Initial width */
  height: 2rem;
  font-size: 0.85rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.search-box input:focus {
  width: 400px; /* Expanded width */
  font-size: 0.85rem;
  border-color: rgba(255, 220, 0, 0.5);
  box-shadow: 0 0 5px rgba(255, 220, 0, 0.5);
  outline: none;
}

.search-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 101;
}

.search-dropdown .item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.search-dropdown .item:last-child {
  border-bottom: none;
}

.search-dropdown .item .item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.search-dropdown .item .item-details {
  flex-grow: 1;
}

.search-dropdown h5 {
  margin: 0;
  font-size: 16px;
}

.search-dropdown span {
  font-size: 14px;
  color: gray;
}
/* End Navbar + Search */

/*Slider Otomatis*/
#carouselExampleSlidesOnly {
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  max-width: 63rem;
  margin: auto;
  position: relative;
}

#carouselExampleSlidesOnly .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: auto;
  filter: brightness(55%);
}

.carousel-caption-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  z-index: 10;
  text-align: center;
  pointer-events: none;
}

.carousel-caption-custom h1 {
  font-weight: bold;
  margin: 0;
}

.carousel-caption-custom p {
  margin: 0;
}
/*End Slider Otomatis*/

/*Box Kategori*/
.categories {
  padding: 20px;
  text-align: center;
}

.categories h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category {
  position: relative;
  margin: 10px;
  padding: 10px 20px;
  background-color: #4c5262;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.category::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: #4c5262;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.category.active {
  background-color: #4c5262;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.category.active::after {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60%;
  left: 50%;
}
/*End Box Kategori*/

/*Item Produk*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.product {
  text-align: left;
  display: none;
  border-radius: 0px 0px 10px 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: #4c5262;
}

.ppp {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.04);
}

.ppp img {
  border-radius: 8px;
}

.product:hover {
  transform: translateY(-10px);
}

.product h3 {
  margin-top: 12px;
}

.product img {
  border-radius: 8px;
  max-width: 100%;
  display: block;
  mix-blend-mode: multiply;
}

.product.active {
  display: block;
}

/*End Item Produk*/

/* Produk.php */
.product-image {
  width: 95%;
  max-width: 400px;
  border-radius: 15px;
  margin-top: 10px;
}

.deskripsi-p {
  padding: 0;
}

.quantity-box input {
  width: 50px;
  text-align: center;
}

.btn-keranjang {
  color: rgb(255, 180, 0);
  background-color: white;
}

.btn-beli {
  color: white;
  background-color: rgb(255, 180, 0);
  transition: 0.3s all;
}

.btn-keranjang,
.btn-beli {
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border: 1.5px solid rgb(255, 180, 0);
  border-radius: 0.5rem;
  text-align: center;
}

.btn-beli:hover {
  background-color: rgb(240, 175, 0);
  border: 1.5px solid rgb(240, 175, 0);
}

@media (min-width: 320px) {
  .nama-p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
  }
  .harga-p {
    font-size: 20px;
    font-weight: bold;
  }
}

/*Custom Size Responsive*/
/* Mobile S */
@media (min-width: 320px) {
  .navbar {
    padding: 0.8rem 0rem;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-item {
    display: flex;
  }
  #user {
    display: none;
  }
  .search-box {
    justify-content: flex-start; /* Align left when brand is hidden */
    margin-left: 10px; /* Add some left margin */
  }
  .search-box input {
    width: auto;
  }
  .search-box input:focus {
    width: auto;
  }
  #carouselExampleSlidesOnly {
    border-radius: 8px;
  }
  #carouselExampleSlidesOnly .carousel-item img {
    border-radius: 8px;
  }
  .carousel-caption-custom h1 {
    font-size: 1.2rem;
  }
  .carousel-caption-custom p {
    font-size: 0.6rem;
  }
  .categories h2 {
    font-size: 18px;
  }
  .category {
    font-size: 12px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .product {
    width: 8rem;
    margin: 5px;
  }
  .product h3 {
    font-size: 12px;
    font-weight: bold;
  }
  .product p {
    font-size: 10px;
  }
  footer {
    font-size: 10px;
  }
}

/* Mobile M */
@media (min-width: 375px) {
  .navbar {
    padding: 0.8rem 0rem;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-item {
    display: flex;
  }
  #user {
    display: inline;
  }
  .search-box input {
    width: auto;
  }
  .search-box input:focus {
    width: auto;
  }
  #carouselExampleSlidesOnly {
    border-radius: 8px;
  }
  #carouselExampleSlidesOnly .carousel-item img {
    border-radius: 8px;
  }
  .carousel-caption-custom h1 {
    font-size: 1.2rem;
  }
  .carousel-caption-custom p {
    font-size: 0.6rem;
  }
  .categories h2 {
    font-size: 20px;
  }
  .category {
    font-size: 16px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .product {
    width: 9.5rem;
    margin: 5px;
  }
  .product h3 {
    font-size: 14px;
    font-weight: bold;
  }
  .product p {
    font-size: 11px;
  }
  footer {
    font-size: 11px;
  }
}

/* Mobile L */
@media (min-width: 424px) {
  .navbar {
    padding: 0.8rem 0rem;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-item {
    display: flex;
  }
  #user {
    display: inline;
  }
  .search-box input {
    width: 14rem;
  }
  .search-box input:focus {
    width: 14rem;
  }
  #carouselExampleSlidesOnly {
    border-radius: 8px;
  }
  #carouselExampleSlidesOnly .carousel-item img {
    border-radius: 8px;
  }
  .carousel-caption-custom h1 {
    font-size: 1.2rem;
  }
  .carousel-caption-custom p {
    font-size: 0.6rem;
  }
  .categories h2 {
    font-size: 20px;
  }
  .category {
    font-size: 16px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .product {
    width: 11rem;
    margin: 5px;
  }
  .product h3 {
    font-size: 16px;
    font-weight: bold;
  }
  .product p {
    font-size: 13px;
  }
  footer {
    font-size: 13px;
  }
}

@media (max-width: 436px) {
  .search-dropdown {
    width: 150%;
    margin-top: 0.5rem;
  }
}
/* Tablet */
@media (min-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar-brand {
    display: flex;
    margin: 0 30px 0 0;
  }
  .navbar-item {
    display: flex;
    margin: 0 8px 0 0;
  }
  #user {
    display: inline;
  }
  .search-box {
    justify-content: flex-end; /* Align left when brand is hidden */
  }
  .search-box input {
    width: 250px;
  }
  .search-box input:focus {
    width: 350px;
  }
  #carouselExampleSlidesOnly {
    border-radius: 13px;
  }
  #carouselExampleSlidesOnly .carousel-item img {
    border-radius: 13px;
  }
  .carousel-caption-custom h1 {
    font-size: 1.8rem;
  }
  .carousel-caption-custom p {
    font-size: 1rem;
  }
  .categories h2 {
    font-size: 23px;
  }
  .category {
    font-size: 14px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
  }
  .product {
    width: 8.5rem;
    margin: 5px;
  }
  .product h3 {
    font-size: 14px;
    font-weight: bold;
  }
  .product p {
    font-size: 12px;
  }
  footer {
    font-size: 13px;
  }
}

/* Laptop + Laptop L */
@media (min-width: 1024px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar-brand {
    display: flex;
    margin: 0 30px 0 0;
  }
  .navbar-item {
    display: flex;
    margin: 0px 10px;
  }
  #user {
    display: inline;
  }
  .search-box input {
    width: 350px;
  }
  .search-box input:focus {
    width: 500px;
  }
  #carouselExampleSlidesOnly {
    border-radius: 20px;
  }
  #carouselExampleSlidesOnly .carousel-item img {
    border-radius: 20px;
  }
  .carousel-caption-custom h1 {
    font-size: 2rem;
  }
  .carousel-caption-custom p {
    font-size: 1.2rem;
  }
  .categories h2 {
    font-size: 30px;
  }
  .category {
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .product {
    width: 12rem;
    margin: 6px;
  }
  .product h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .product p {
    font-size: 17px;
  }
  footer {
    font-size: 15px;
  }
}
